# Development artifacts
*.sw[onp]
/server/ui/node_modules
/server/ui/package-lock.json
/.env

# Build artifacts
/blobd
/cmd/blobd/blobd
/server/ui/ui.gen.go
/server/ui/build/
/server/ui/.blobd.last-build.checksum
