html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #512DA8;
}

.blobd-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.blobd-uploader-button {
  position: absolute;

  right: 20px;
  bottom: 20px;
}
